<yandex>
    <users_config>/etc/clickhouse-server/users.xml</users_config>

    <!-- Путь для хранения данных -->
    <path>/var/lib/clickhouse/</path>

    <!-- Путь для временных файлов -->
    <tmp_path>/var/lib/clickhouse/tmp/</tmp_path>

    <!-- Путь для файлов с пользовательскими загрузками -->
    <user_files_path>/var/lib/clickhouse/user_files/</user_files_path>

    <!-- Путь для схем форматов -->
    <format_schema_path>/var/lib/clickhouse/format_schemas/</format_schema_path>

    <!-- Путь для логов -->
    <logger>
        <log>/var/log/clickhouse-server/clickhouse.log</log>
        <errorlog>/var/log/clickhouse-server/clickhouse_error.log</errorlog>
        <size>1000M</size>
    </logger>

    <!-- Сетевые настройки -->
    <listen_host>0.0.0.0</listen_host>
    <tcp_port>9000</tcp_port>
    <http_port>8123</http_port>
    <interserver_http_port>9009</interserver_http_port>

    <!-- Настройки ZooKeeper -->
    <zookeeper>
        <node>
            <host>zookeeper1</host>
            <port>2181</port>
        </node>
        <node>
            <host>zookeeper2</host>
            <port>2181</port>
        </node>
        <node>
            <host>zookeeper3</host>
            <port>2181</port>
        </node>
    </zookeeper>

<!--    <clusters>-->
<!--        <cluster name="clickhouse_cluster">-->
<!--            &lt;!&ndash; Первый шард с репликами на 3 узлах &ndash;&gt;-->
<!--            <shard>-->
<!--                <replica>-->
<!--                    <host>clickhouse1</host>-->
<!--                    <port>9000</port>-->
<!--                </replica>-->
<!--                <replica>-->
<!--                    <host>clickhouse2</host>-->
<!--                    <port>9000</port>-->
<!--                </replica>-->
<!--                <replica>-->
<!--                    <host>clickhouse3</host>-->
<!--                    <port>9000</port>-->
<!--                </replica>-->
<!--            </shard>-->
<!--        </cluster>-->
<!--    </clusters>-->

    <!-- Настройки кластера -->
    <remote_servers>
        <clickhouse_cluster>
            <shard>
                <internal_replication>true</internal_replication>
                <replica>
                    <host>clickhouse1</host>
                    <port>9000</port>
                </replica>
                <replica>
                    <host>clickhouse2</host>
                    <port>9000</port>
                </replica>
                <replica>
                    <host>clickhouse3</host>
                    <port>9000</port>
                </replica>
            </shard>
        </clickhouse_cluster>
    </remote_servers>

    <!-- Настройки репликации -->
    <macros>
        <cluster>clickhouse_cluster</cluster>
        <replica>clickhouse2</replica> <!-- Меняйте имя для каждой ноды -->
        <shard>shard1</shard>
    </macros>

    <distributed_ddl>
        <replica_wait_for_sync>1</replica_wait_for_sync>
        <distributed_ddl_task_timeout>60000</distributed_ddl_task_timeout>
    </distributed_ddl>

</yandex>
