/prometheus-grafana/data/grafana/
/prometheus-grafana/data/prometheus/
**/.idea/
/open-telemetry/collector-tempo/data/
/observability/data/grafana/
/observability/data/prometheus/
/observability-kafka-cluster/data/grafana/
/observability-kafka-cluster/data/prometheus/
/observability-kafka-cluster/data/tempo/
/observability-kafka-cluster/data/kafka/
/observability-kafka-cluster/esdata/*
/open-telemetry/grafana-tempo/data/tempo/*

**/clickhouse1/data/*
**/clickhouse1/logs/*
**/clickhouse2/data/*
**/clickhouse2/logs/*
**/clickhouse3/data/*
**/clickhouse3/logs/*
**/zookeeper1/data/*
**/zookeeper1/datalog/*
**/zookeeper2/data/*
**/zookeeper2/datalog/*
**/zookeeper3/data/*
**/zookeeper3/datalog/*
/kafka/kafka-local-docker/confluentinc-kafka-connect-elasticsearch-14.1.2/
/kafka/kafka-local-docker/plugins/
/Настройки/
/gitlab_tests/vault.sh
/etcd_local/etcd1-data/
/etcd_local/etcd2-data/
/etcd_local/etcd3-data/

**/certs/*.crt
**/certs/*.key
**/certs/*.csr
**/certs/*.srl
**/certs/*.pem
/etcd_local/assets/*