scope: {{ cluster_name }}
namespace: /service/
name: {{ node_name }}

restapi:
  listen: 0.0.0.0:8008
  connect_address: {{ ansible_host }}:8008

etcd3:
#  host: {{ patroni_etcd_url }}
  hosts: {% for host in groups['etcd_nodes'] %}{{ hostvars[host].ansible_host }}:2379{% if not loop.last %},{% endif %}{% endfor %}


bootstrap:
  dcs:
    ttl: 30
    loop_wait: 10
    retry_timeout: 10
    maximum_lag_on_failover: 1048576
    postgresql:
      use_pg_rewind: true
      parameters:
        max_connections: 100
        shared_buffers: 256MB
        max_wal_senders: 5
        wal_keep_segments: 8
        archive_mode: "on"
        archive_command: 'cd .'
        max_replication_slots: 5
        hot_standby: "on"

  initdb:
    - encoding: UTF8
    - locale: en_US.UTF-8

  users:
    admin:
      password: adminpassword
      options:
        - createrole
        - createdb
    replication:
      password: replicationpassword
      options:
        - replication

postgresql:
  listen: 0.0.0.0:5432
  connect_address: {{ ansible_host }}:5432
  data_dir: "{{ postgresql_data_dir }}"
  bin_dir: /usr/lib/postgresql/{{ postgresql_version }}/bin
  authentication:
    superuser:
      username: {{ postgres_user }}
      password: {{ postgres_password }}
    replication:
      username: replication
      password: replicationpassword
  parameters:
    unix_socket_directories: '/var/run/postgresql'
